 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <p>I used Bootstrap open source toolkit for developing with HTML, CSS, and JS.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <p>We used these tools to create or contribute to web applications with clean, portable, well-documented code.</p>
    </div>
    <div class="tech">
      <h2>Etc</h2>
      <i class="devicon-github-plain-wordmark colored"></i>
      <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
      <p>We used a lot of things including these tools for the web framework.</p>
    </div>
</div>
