<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/advisor.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Project Title </h3>
    <ul>
      <li>DO!PO</li>
    </ul>
    <p>Robo-Advisor는 인간의 개입이 전혀없는 자동화 된 알고리즘 중심의 재무 계획 서비스를 제공하는 디지털 플랫폼입니다.
      일반적인 Robo-Advisor는 온라인 설문 조사를 통해 고객의 재무 상황과 향후 목표에 대한 정보를 수집 한 다음 데이터를 사용하여 자문을 제공하고 고객 자산을 자동으로 투자합니다.</p>
    <a class="project-link" href="http://www.doipo.net">바로가기&nbsp;<i class="fas fa-angle-right"></i></a>
  </div>
</div>
<!--
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
-->
