<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/displyFile.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Project Title </h3>
    <ul>
      <li>DO!PO</li>
    </ul>
    <p>DO!PO의 주식종목 스크리닝 모델은 3가지 성격으로 설명됩니다. 첫째는 가치 선정으로, 기업의 최신 재무재표 공시자료를 활용해 기업의 안정성, 성장성, 기업가치가 우수한 주식을 선별합니다. 두번째는 재무재표 지표에 거시경제적인 변수들을 추가해 통합적인 위험선호별 주식종목 추천을 제안합니다. 세번째는 역동성으로 매일 종가 기준으로 산출된 주식지표들을 통해 매일매일 추천종목이 재선정되며, 이는 시장의 추세를 따라갑니다.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
